In [1]:
from pymongo import MongoClient

In [2]:
connection=MongoClient("mongodb://localhost:27017")

In [3]:
db=connection.nhi

In [4]:
nhidata=db.nhidata

In [5]:
#nhidata.drop()

In [6]:
import pandas as pd

In [7]:
dfs=pd.read_excel('table1.xls')

In [8]:
#dfs.columns

In [59]:
#dfs

In [10]:
#len(dfs.index)

In [8]:
arr = dfs.values

In [12]:
#arr

In [13]:
#len(arr.tolist())

In [14]:
#type(arr)

In [15]:
#print (arr.tolist()[-1][0])

In [16]:
#type(arr.tolist()[-1][0])

In [17]:
#type(arr.tolist()[-5][0])

In [18]:
#print(arr.tolist()[-5][0])

In [9]:
data = [row for row in arr.tolist() if isinstance(row[0],int)]

In [10]:
data=pd.DataFrame(data)

In [11]:
data.head()

       0    1    2    3     4     5    6
0  19047  281  562  843  1124   954  159
1  19200  283  566  849  1132   962  160
2  20100  296  592  888  1184  1007  168
3  21000  309  618  927  1236  1052  175
4  21900  323  646  969  1292  1097  183

In [12]:
values = data[[1,2,3,4]].values

In [23]:
#values

In [24]:
#values.shape

In [25]:
#53*4

In [13]:
value=values.flatten()

In [27]:
#value

In [14]:
mylst = list(data[0])*4

In [15]:
mylst.sort()

In [30]:
#mylst

In [16]:
sec=list(data[5])*4

In [31]:
third=list(data[6])*4

In [18]:
sec.sort()

In [32]:
third.sort()

In [20]:
d5=pd.DataFrame(sec)

In [33]:
d6=pd.DataFrame(third)

In [22]:
rss=(range(4)*53)
#rss

In [23]:
d1=pd.DataFrame(mylst)

In [24]:
d2=pd.DataFrame(rss)

In [25]:
d3=pd.DataFrame(value)

In [26]:
lv=(range(1,54)*4)

In [27]:
lv.sort()

In [41]:
#lv

In [28]:
d4=pd.DataFrame(lv)

In [34]:
dff=pd.concat([d4,d1,d2,d3,d5,d6], axis=1)

In [35]:
dff

      0       0  0      0     0     0
0     1   19047  0    281   954   159
1     1   19047  1    562   954   159
2     1   19047  2    843   954   159
3     1   19047  3   1124   954   159
4     2   19200  0    283   962   160
5     2   19200  1    566   962   160
6     2   19200  2    849   962   160
7     2   19200  3   1132   962   160
8     3   20100  0    296  1007   168
9     3   20100  1    592  1007   168
10    3   20100  2    888  1007   168
11    3   20100  3   1184  1007   168
12    4   21000  0    309  1052   175
13    4   21000  1    618  1052   175
14    4   21000  2    927  1052   175
15    4   21000  3   1236  1052   175
16    5   21900  0    323  1097   183
17    5   21900  1    646  1097   183
18    5   21900  2    969  1097   183
19    5   21900  3   1292  1097   183
20    6   22800  0    336  1142   190
21    6   22800  1    672  1142   190
22    6   22800  2   1008  1142   190
23    6   22800  3   1344  1142   190
24    7   24000  0    354  1202   200
25    7   24000  1    708  1202   200
26    7   24000  2   1062  1202   200
27    7   24000  3   1416  1202   200
28    8   25200  0    371  1262   210
29    8   25200  1    742  1262   210
..   ..     ... ..    ...   ...   ...
182  46  142500  2   6297  7137  1189
183  46  142500  3   8396  7137  1189
184  47  147900  0   2179  7407  1235
185  47  147900  1   4358  7407  1235
186  47  147900  2   6537  7407  1235
187  47  147900  3   8716  7407  1235
188  48  150000  0   2210  7512  1252
189  48  150000  1   4420  7512  1252
190  48  150000  2   6630  7512  1252
191  48  150000  3   8840  7512  1252
192  49  156400  0   2304  7833  1305
193  49  156400  1   4608  7833  1305
194  49  156400  2   6912  7833  1305
195  49  156400  3   9216  7833  1305
196  50  162800  0   2398  8153  1359
197  50  162800  1   4796  8153  1359
198  50  162800  2   7194  8153  1359
199  50  162800  3   9592  8153  1359
200  51  169200  0   2492  8474  1412
201  51  169200  1   4984  8474  1412
202  51  169200  2   7476  8474  1412
203  51  169200  3   9968  8474  1412
204  52  175600  0   2587  8794  1466
205  52  175600  1   5174  8794  1466
206  52  175600  2   7761  8794  1466
207  52  175600  3  10348  8794  1466
208  53  182000  0   2681  9115  1519
209  53  182000  1   5362  9115  1519
210  53  182000  2   8043  9115  1519
211  53  182000  3  10724  9115  1519

[212 rows x 6 columns]

In [37]:
dff.columns=['level','insurance','family','pay_p','pay_cpn','pay_gov']

In [39]:
dff.head()

   level  insurance  family  pay_p  pay_cpn  pay_gov
0      1      19047       0    281      954      159
1      1      19047       1    562      954      159
2      1      19047       2    843      954      159
3      1      19047       3   1124      954      159
4      2      19200       0    283      962      160

In [40]:
data=dff.to_dict(orient="records")

In [41]:
nhidata.insert(data)

[ObjectId('552e17a101460665e8c53669'),
 ObjectId('552e17a101460665e8c5366a'),
 ObjectId('552e17a101460665e8c5366b'),
 ObjectId('552e17a101460665e8c5366c'),
 ObjectId('552e17a101460665e8c5366d'),
 ObjectId('552e17a101460665e8c5366e'),
 ObjectId('552e17a101460665e8c5366f'),
 ObjectId('552e17a101460665e8c53670'),
 ObjectId('552e17a101460665e8c53671'),
 ObjectId('552e17a101460665e8c53672'),
 ObjectId('552e17a101460665e8c53673'),
 ObjectId('552e17a101460665e8c53674'),
 ObjectId('552e17a101460665e8c53675'),
 ObjectId('552e17a101460665e8c53676'),
 ObjectId('552e17a101460665e8c53677'),
 ObjectId('552e17a101460665e8c53678'),
 ObjectId('552e17a101460665e8c53679'),
 ObjectId('552e17a101460665e8c5367a'),
 ObjectId('552e17a101460665e8c5367b'),
 ObjectId('552e17a101460665e8c5367c'),
 ObjectId('552e17a101460665e8c5367d'),
 ObjectId('552e17a101460665e8c5367e'),
 ObjectId('552e17a101460665e8c5367f'),
 ObjectId('552e17a101460665e8c53680'),
 ObjectId('552e17a101460665e8c53681'),
 ObjectId('552e17a101460665e8c53682'),
 ObjectId('552e17a101460665e8c53683'),
 ObjectId('552e17a101460665e8c53684'),
 ObjectId('552e17a101460665e8c53685'),
 ObjectId('552e17a101460665e8c53686'),
 ObjectId('552e17a101460665e8c53687'),
 ObjectId('552e17a101460665e8c53688'),
 ObjectId('552e17a101460665e8c53689'),
 ObjectId('552e17a101460665e8c5368a'),
 ObjectId('552e17a101460665e8c5368b'),
 ObjectId('552e17a101460665e8c5368c'),
 ObjectId('552e17a101460665e8c5368d'),
 ObjectId('552e17a101460665e8c5368e'),
 ObjectId('552e17a101460665e8c5368f'),
 ObjectId('552e17a101460665e8c53690'),
 ObjectId('552e17a101460665e8c53691'),
 ObjectId('552e17a101460665e8c53692'),
 ObjectId('552e17a101460665e8c53693'),
 ObjectId('552e17a101460665e8c53694'),
 ObjectId('552e17a101460665e8c53695'),
 ObjectId('552e17a101460665e8c53696'),
 ObjectId('552e17a101460665e8c53697'),
 ObjectId('552e17a101460665e8c53698'),
 ObjectId('552e17a101460665e8c53699'),
 ObjectId('552e17a101460665e8c5369a'),
 ObjectId('552e17a101460665e8c5369b'),
 ObjectId('552e17a101460665e8c5369c'),
 ObjectId('552e17a101460665e8c5369d'),
 ObjectId('552e17a101460665e8c5369e'),
 ObjectId('552e17a101460665e8c5369f'),
 ObjectId('552e17a101460665e8c536a0'),
 ObjectId('552e17a101460665e8c536a1'),
 ObjectId('552e17a101460665e8c536a2'),
 ObjectId('552e17a101460665e8c536a3'),
 ObjectId('552e17a101460665e8c536a4'),
 ObjectId('552e17a101460665e8c536a5'),
 ObjectId('552e17a101460665e8c536a6'),
 ObjectId('552e17a101460665e8c536a7'),
 ObjectId('552e17a101460665e8c536a8'),
 ObjectId('552e17a101460665e8c536a9'),
 ObjectId('552e17a101460665e8c536aa'),
 ObjectId('552e17a101460665e8c536ab'),
 ObjectId('552e17a101460665e8c536ac'),
 ObjectId('552e17a101460665e8c536ad'),
 ObjectId('552e17a101460665e8c536ae'),
 ObjectId('552e17a101460665e8c536af'),
 ObjectId('552e17a101460665e8c536b0'),
 ObjectId('552e17a101460665e8c536b1'),
 ObjectId('552e17a101460665e8c536b2'),
 ObjectId('552e17a101460665e8c536b3'),
 ObjectId('552e17a101460665e8c536b4'),
 ObjectId('552e17a101460665e8c536b5'),
 ObjectId('552e17a101460665e8c536b6'),
 ObjectId('552e17a101460665e8c536b7'),
 ObjectId('552e17a101460665e8c536b8'),
 ObjectId('552e17a101460665e8c536b9'),
 ObjectId('552e17a101460665e8c536ba'),
 ObjectId('552e17a101460665e8c536bb'),
 ObjectId('552e17a101460665e8c536bc'),
 ObjectId('552e17a101460665e8c536bd'),
 ObjectId('552e17a101460665e8c536be'),
 ObjectId('552e17a101460665e8c536bf'),
 ObjectId('552e17a101460665e8c536c0'),
 ObjectId('552e17a101460665e8c536c1'),
 ObjectId('552e17a101460665e8c536c2'),
 ObjectId('552e17a101460665e8c536c3'),
 ObjectId('552e17a101460665e8c536c4'),
 ObjectId('552e17a101460665e8c536c5'),
 ObjectId('552e17a101460665e8c536c6'),
 ObjectId('552e17a101460665e8c536c7'),
 ObjectId('552e17a101460665e8c536c8'),
 ObjectId('552e17a101460665e8c536c9'),
 ObjectId('552e17a101460665e8c536ca'),
 ObjectId('552e17a101460665e8c536cb'),
 ObjectId('552e17a101460665e8c536cc'),
 ObjectId('552e17a101460665e8c536cd'),
 ObjectId('552e17a101460665e8c536ce'),
 ObjectId('552e17a101460665e8c536cf'),
 ObjectId('552e17a101460665e8c536d0'),
 ObjectId('552e17a101460665e8c536d1'),
 ObjectId('552e17a101460665e8c536d2'),
 ObjectId('552e17a101460665e8c536d3'),
 ObjectId('552e17a101460665e8c536d4'),
 ObjectId('552e17a101460665e8c536d5'),
 ObjectId('552e17a101460665e8c536d6'),
 ObjectId('552e17a101460665e8c536d7'),
 ObjectId('552e17a101460665e8c536d8'),
 ObjectId('552e17a101460665e8c536d9'),
 ObjectId('552e17a101460665e8c536da'),
 ObjectId('552e17a101460665e8c536db'),
 ObjectId('552e17a101460665e8c536dc'),
 ObjectId('552e17a101460665e8c536dd'),
 ObjectId('552e17a101460665e8c536de'),
 ObjectId('552e17a101460665e8c536df'),
 ObjectId('552e17a101460665e8c536e0'),
 ObjectId('552e17a101460665e8c536e1'),
 ObjectId('552e17a101460665e8c536e2'),
 ObjectId('552e17a101460665e8c536e3'),
 ObjectId('552e17a101460665e8c536e4'),
 ObjectId('552e17a101460665e8c536e5'),
 ObjectId('552e17a101460665e8c536e6'),
 ObjectId('552e17a101460665e8c536e7'),
 ObjectId('552e17a101460665e8c536e8'),
 ObjectId('552e17a101460665e8c536e9'),
 ObjectId('552e17a101460665e8c536ea'),
 ObjectId('552e17a101460665e8c536eb'),
 ObjectId('552e17a101460665e8c536ec'),
 ObjectId('552e17a101460665e8c536ed'),
 ObjectId('552e17a101460665e8c536ee'),
 ObjectId('552e17a101460665e8c536ef'),
 ObjectId('552e17a101460665e8c536f0'),
 ObjectId('552e17a101460665e8c536f1'),
 ObjectId('552e17a101460665e8c536f2'),
 ObjectId('552e17a101460665e8c536f3'),
 ObjectId('552e17a101460665e8c536f4'),
 ObjectId('552e17a101460665e8c536f5'),
 ObjectId('552e17a101460665e8c536f6'),
 ObjectId('552e17a101460665e8c536f7'),
 ObjectId('552e17a101460665e8c536f8'),
 ObjectId('552e17a101460665e8c536f9'),
 ObjectId('552e17a101460665e8c536fa'),
 ObjectId('552e17a101460665e8c536fb'),
 ObjectId('552e17a101460665e8c536fc'),
 ObjectId('552e17a101460665e8c536fd'),
 ObjectId('552e17a101460665e8c536fe'),
 ObjectId('552e17a101460665e8c536ff'),
 ObjectId('552e17a101460665e8c53700'),
 ObjectId('552e17a101460665e8c53701'),
 ObjectId('552e17a101460665e8c53702'),
 ObjectId('552e17a101460665e8c53703'),
 ObjectId('552e17a101460665e8c53704'),
 ObjectId('552e17a101460665e8c53705'),
 ObjectId('552e17a101460665e8c53706'),
 ObjectId('552e17a101460665e8c53707'),
 ObjectId('552e17a101460665e8c53708'),
 ObjectId('552e17a101460665e8c53709'),
 ObjectId('552e17a101460665e8c5370a'),
 ObjectId('552e17a101460665e8c5370b'),
 ObjectId('552e17a101460665e8c5370c'),
 ObjectId('552e17a101460665e8c5370d'),
 ObjectId('552e17a101460665e8c5370e'),
 ObjectId('552e17a101460665e8c5370f'),
 ObjectId('552e17a101460665e8c53710'),
 ObjectId('552e17a101460665e8c53711'),
 ObjectId('552e17a101460665e8c53712'),
 ObjectId('552e17a101460665e8c53713'),
 ObjectId('552e17a101460665e8c53714'),
 ObjectId('552e17a101460665e8c53715'),
 ObjectId('552e17a101460665e8c53716'),
 ObjectId('552e17a101460665e8c53717'),
 ObjectId('552e17a101460665e8c53718'),
 ObjectId('552e17a101460665e8c53719'),
 ObjectId('552e17a101460665e8c5371a'),
 ObjectId('552e17a101460665e8c5371b'),
 ObjectId('552e17a101460665e8c5371c'),
 ObjectId('552e17a101460665e8c5371d'),
 ObjectId('552e17a101460665e8c5371e'),
 ObjectId('552e17a101460665e8c5371f'),
 ObjectId('552e17a101460665e8c53720'),
 ObjectId('552e17a101460665e8c53721'),
 ObjectId('552e17a101460665e8c53722'),
 ObjectId('552e17a101460665e8c53723'),
 ObjectId('552e17a101460665e8c53724'),
 ObjectId('552e17a101460665e8c53725'),
 ObjectId('552e17a101460665e8c53726'),
 ObjectId('552e17a101460665e8c53727'),
 ObjectId('552e17a101460665e8c53728'),
 ObjectId('552e17a101460665e8c53729'),
 ObjectId('552e17a101460665e8c5372a'),
 ObjectId('552e17a101460665e8c5372b'),
 ObjectId('552e17a101460665e8c5372c'),
 ObjectId('552e17a101460665e8c5372d'),
 ObjectId('552e17a101460665e8c5372e'),
 ObjectId('552e17a101460665e8c5372f'),
 ObjectId('552e17a101460665e8c53730'),
 ObjectId('552e17a101460665e8c53731'),
 ObjectId('552e17a101460665e8c53732'),
 ObjectId('552e17a101460665e8c53733'),
 ObjectId('552e17a101460665e8c53734'),
 ObjectId('552e17a101460665e8c53735'),
 ObjectId('552e17a101460665e8c53736'),
 ObjectId('552e17a101460665e8c53737'),
 ObjectId('552e17a101460665e8c53738'),
 ObjectId('552e17a101460665e8c53739'),
 ObjectId('552e17a101460665e8c5373a'),
 ObjectId('552e17a101460665e8c5373b'),
 ObjectId('552e17a101460665e8c5373c')]

In [42]:
#dff.to_csv('nhl1.csv',encoding='utf8',index=False)

---

In [52]:
Test=nhidata.find()

In [51]:
Test.next()

{u'_id': ObjectId('552e17a101460665e8c5366f'),
 u'family': 2,
 u'insurance': 19200,
 u'level': 2,
 u'pay_cpn': 962,
 u'pay_gov': 160,
 u'pay_p': 849}

In [57]:
nhidata.find_one({'insurance':57800,'family':1})

{u'_id': ObjectId('552e17a101460665e8c536ce'),
 u'family': 1,
 u'insurance': 57800,
 u'level': 26,
 u'pay_cpn': 2895,
 u'pay_gov': 482,
 u'pay_p': 1702}