In [1]:
from pymongo import MongoClient

In [2]:
connection=MongoClient("mongodb://localhost:27017")

In [3]:
db=connection.nhi

In [4]:
nhidata=db.nhidata2

In [5]:
#nhidata.drop()

In [6]:
import pandas as pd

In [7]:
#dfs=pd.read_excel('table2.xls',header=3)
dfs=pd.read_excel('table2.xls',skiprows=[0,1,2,4])

In [8]:
#dfs.columns

In [9]:
#dfs

In [10]:
dfs=dfs[:64]

In [11]:
#dfs[29:35]

In [12]:
df1=dfs[:30]

In [13]:
df1=df1.iloc[:,:29]

In [14]:
df2=dfs[34:]

In [15]:
#dfs.iloc[32]

In [16]:
df2.columns=dfs.iloc[32]

In [17]:
#df2

In [18]:
#df2.columns

In [19]:
#len(df2.columns)

In [20]:
df2=df2.iloc[:,:27]

In [21]:
df2.index=range(30)

In [22]:
#df3=df2

In [23]:
#df3.columns

In [24]:
df2=df2.iloc[:,1:]

In [25]:
#df2

In [26]:
#dfs=pd.merge(df1, df2, left_index=True, right_index=True)

In [27]:
#dfs

In [28]:
dfs=df1.join(df2)

In [29]:
#dfs

In [30]:
#len(dfs.index)

In [31]:
arr = dfs.values

In [32]:
#arr

In [33]:
#len(arr.tolist())

In [34]:
#type(arr)

In [35]:
data = [row for row in arr.tolist() if isinstance(row[0],int)]

In [109]:
data=pd.DataFrame(data)

In [185]:
data.head()

,d,11100,11100,12540,12540,13500,13500,15840,15840,16500,...,36300,36300,38200,38200,40100,40100,42000,42000,43900,43900
0,1,8,26,9,29,9,31,11,37,11,...,24,84,26,89,27,93,28,98,29,102
1,2,14,52,17,59,18,63,21,74,22,...,49,169,51,178,53,187,56,196,59,204
2,3,22,78,26,88,27,94,32,111,33,...,72,254,77,268,80,281,84,294,88,308
3,4,30,103,33,117,36,126,42,148,44,...,97,339,102,357,107,374,112,392,117,410
4,5,37,130,42,147,46,158,53,184,56,...,121,423,128,446,133,468,140,490,147,512

In [111]:
tip=dfs.columns

In [112]:
#len(tip)

In [113]:
#tip

In [186]:
tip=[i for i in tip if isinstance(i,(int,float))]

In [115]:
#len(tip)

In [116]:
#type(tip[-1])

In [117]:
#tip[-1]

In [118]:
#tip=filter(lambda x:x!='nan',tip)

In [119]:
#len(tip)

In [120]:
tip=[i for i in tip if i != 'nan']

In [121]:
#type(tip[-1])

In [122]:
import numpy

In [123]:
tip=numpy.array(tip)

In [124]:
tip = tip[~numpy.isnan(tip)]

In [125]:
tip=list(tip)

In [126]:
tip=map(int,tip)

In [127]:
tip1=tip
#tip1

In [128]:
#len(tip1)

In [129]:
tip=tip*2

In [130]:
tip.sort()

In [131]:
#tip1=pd.DataFrame(tip)

In [132]:
#type(tip)

In [133]:
tip.insert(0,'d')

In [134]:
data.columns=tip

In [135]:
#len(tip)

In [136]:
#data

---

In [137]:
day=pd.DataFrame(data.iloc[:,0])
day.columns=['day']
#day

In [138]:
# x=0
# payroll=pd.DataFrame([str(tip1[x])]*30)
# payroll.columns=['payroll']
# payroll

In [139]:
# y=x+1
# dff2=data.iloc[:,y:y+2]#
# dff2['total']=dff2.iloc[:,0]+dff2.iloc[:,1]

# dff2.columns=['$Labor','$Company','$Total']
# dff2

In [140]:
#dffinal=pd.concat([day,payroll,dff2],axis=1)
#dffinal

In [141]:
#datafinal=dffinal.to_dict(orient='records')

In [142]:
#nhidata.insert(datafinal)

In [203]:
nhidata.drop()

In [204]:
for x in range(len(tip1)):
    #payroll=pd.DataFrame([str(tip1[x])]*30)
    #payroll.columns=['payroll']
    y=2*x+1
    dff2=data.iloc[:,y:y+2]
    dff2['total']=dff2.iloc[:,0]+dff2.iloc[:,1]
    dff2.columns=['Labor','Company','Total']
    #dffinal=pd.concat([day,payroll,dff2],axis=1)
    dffinal=pd.concat([day,dff2],axis=1)
    dffinal['payroll']=tip1[x]
    datafinal=dffinal.to_dict(orient='records')
    nhidata.insert(datafinal)

In [205]:
#dffinal

In [206]:
#g=nhidata.find()


---

In [207]:
nhidata.find({'payroll':36300})#'Labor','Company','Total','payroll'

In [210]:
for i in nhidata.find({'payroll':25200,'day':16}):
    print i

{u'Total': 1210, u'Company': 941, u'payroll': 25200, u'Labor': 269, u'_id': ObjectId('552e1fdd0146062d45be5d53'), u'day': 16}

In [209]:
nhidata.count()

810